@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,500);

/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul, ol {
	list-style-type: none;
}

* {
	margin: 0px;
	padding: 0px;
}

.hidden {
	display: none;
}

body {
  	background: #bdc3c7;
  	background: -webkit-linear-gradient(to left, #bdc3c7, #2c3e50);
  	background: linear-gradient(to left, #bdc3c7, #2c3e50);
  	color: #fff;
  	font-family: "Open Sans", sans-serif;
}

#user_select_location {
	width: 98%;
	margin: 0px auto;
	height: 100%;
}

#chart_wrap {
	width: 85%;
	margin: 0px auto;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}

.chart_show {
	display: initial;
}

#temperatures_div {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	padding-bottom: 20px
}
.header_ul li {
	display: inline-block;
}

#input {
	width: 150px;
	padding: 5px;
	margin: 30px 20px 30px 20px;
}

#fbbtn {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

.city_text_box {
	margin: 20px 20px 30px 20px;
	padding: 10px 0px;
	font-size: 25px;
}

.t_unit_btn {
	display: initial;
	width: 60px;
	height: 27px;
	border: 1px solid #fff;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 30px 20px 30px 20px;
	opacity: 0.7;
}

.t_unit_btn:hover {
	opacity: 1;
}

.chart_btn {
	width: 160px;
	height: 27px;
	border: 1px solid #fff;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 30px 20px 30px 20px;
	opacity: 0.7;
}

.chart_btn:hover {
	opacity: 1;
}
.dnevna_t1, .dnevna_t2, .dnevna_t3, .dnevna_t4, .dnevna_t5, .dnevna_t6, .dnevna_t7  {
	display: inline-block;
	width: 10%;
	margin-right: 8px;
	margin-top: 10px;
}

.dnevna_t1 {
	margin-left: 20px;
}

.dnevna_t1 li, .dnevna_t2 li, .dnevna_t3 li, .dnevna_t4 li, .dnevna_t5 li, .dnevna_t6 li, .dnevna_t7 li {
	padding: 3px 3px 3px 0px;

}

.t_box {
	font-size: 32px;
}

.date_box {
	font-size: 16px;
}

.dnevna_t0 {
	margin: 0px 0px 20px 20px;
	margin-left: 20px;
}

.dnevna_t0 .t_box {
	font-size: 65px;
}

.dnevna_t0 .date_box {
	display: none;
}

#highchart-0 {
	width: 980px;
	margin: 0px auto;
}